# Data Structures

A data structure is a way to organize, manage, and store data so it can be used efficiently.

Python provides several built-in data structures that help you handle different kinds of data in different ways ‚Äî some are simple, others are more advanced.

### Types of Data Structures

Data Structure               	Description	                        Example
--------------                 -------------                       ---------

List	              Ordered, mutable, allows duplicates	       [1, 2, 3]              
Tuple	              Ordered, immutable, allows duplicates	       (1, 2, 3)
Set	                  Unordered, mutable, no duplicates	           {1, 2, 3}
Dictionary	          Unordered, mutable, key-value pairs	       {"a": 1, "b": 2}
String	              Ordered sequence of characters, immutable    "hello"


# list          []               ---- Square Brackets
# set           {,}              ---- Curly Braces
# Dictionaries  { Key : Value }  ---- Curly Braces with Colon
# tuple         ()               ---- Open & Close Brackets
# String        ""               ---- Single or Double Quotes

In [47]:
a = [1, 2, 3]
b = (1, 2, 3)
c = {1, 2, 3}
d = {"Password": 12345}
e = "hello"

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'str'>

# 1. LIST

A list is an ordered, mutable collection of items.

Ordered ‚Üí Items have a fixed position (can access by index)

Mutable ‚Üí You can add, remove, or change items

Can contain any type of data (numbers, strings, other lists, etc.)

üëâ Think of it like a shopping list ‚Äî you can add, remove, and rearrange items.

In [49]:
# To see the List Functions

print (dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [22]:
# Create a List

Fruits = ['apple', 'banana', 'cherry', 'kiwi', 'Orange']

# Access a List

print(Fruits)

['apple', 'banana', 'cherry', 'kiwi', 'Orange']

In [36]:
# APPEND 

# Syntax: list_name.append (Another List) or append (value)

# Multiple values (considered as a single value)

a = [1, 2, 3, 4, 5, 6, 7]
b = [4, 5, 6, 7]

a.append(b)                   
print(a)

print(len(a))



# With a single value

a = [1, 2, 3, 4, 5, 6, 7]

a.append(9)                   
print(a)

print(len(a))

[1, 2, 3, 4, 5, 6, 7, [4, 5, 6, 7]]
8
[1, 2, 3, 4, 5, 6, 7, 9]
8

In [42]:
# EXTEND

# Syntax: list_name.extend (Another List) or extend ([value])

# Multiple values 

a = [1, 2, 3, 4, 5, 6, 7]
b = [4, 5, 6, 7]

a.extend(b)                   
print(a)

print(len(a))



# With a single value (Passed as a list)

a = [1, 2, 3, 4, 5, 6, 7]

a.extend([9])                   
print(a)

print(len(a))

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]
11
[1, 2, 3, 4, 5, 6, 7, 9]
8

In [65]:
# INSERT

# Syntax: list_name.insert (Index, 'Value')


# Example 1:

a = ['apple', 'banana', 'cherry', 'kiwi', 'Orange']
print(a)

a.insert(1, 'lichi')
print(a)



# Example 2:

b = [1, 2, 3, 4, 5, 6, 7]
print(b)

b.insert(4, 9)                   
print(b)

['apple', 'banana', 'cherry', 'kiwi', 'Orange']
['apple', 'lichi', 'banana', 'cherry', 'kiwi', 'Orange']
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 9, 5, 6, 7]

In [85]:
# POP 

# Syntax: list_name.pop(index)


# Example 1:

a = ['apple', 'banana', 'cherry', 'kiwi', 'Orange']
print (a)

a.pop(1)
print(a)



# Example 2:

b = [1, 2, 3, 4, 5, 6, 7]
print (b)

b.pop(4)                   
print(b)



# Example 3:

c = [1, 2, 3, 4, 5, 6, 7]
print (c)

c.pop(-5)                   
print(c)

['apple', 'banana', 'cherry', 'kiwi', 'Orange']
['apple', 'cherry', 'kiwi', 'Orange']
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 4, 5, 6, 7]

INFO:

# Index count

 0  1  2  3  4  5  6  7   8    ----> From Right
-9 -8 -7 -6 -5 -4 -3 -2  -1    <---- From Left

# Slicing = [Start index : end index n-1 : step value]

In [71]:
# SLICING

# start: index to begin (inclusive)
# end: index to stop (exclusive)
# Step: how many positions to move (optional)


# Syntax 1: [Start index : end index ]

a = [1, 5, 4, 8, 6, 3, 4, 8, 10]

print (a[1:8])
print (a[-9:-2])
print (a[:5])
print (a[3:])
print (a[:-3])
print (a[-5:])



# Syntax 2: [Start : end : step value]

b = [1,2,3,4,5,6,7,8,9,10,5,6,3,8,4,8,2]

print (b[1:16:2])
print (b[1:16:3])
print (b[::-1])              # :: --- Reverse

[5, 4, 8, 6, 3, 4, 8]
[1, 5, 4, 8, 6, 3, 4]
[1, 5, 4, 8, 6]
[8, 6, 3, 4, 8, 10]
[1, 5, 4, 8, 6, 3]
[6, 3, 4, 8, 10]
[2, 4, 6, 8, 10, 6, 8, 8]
[2, 5, 8, 5, 8]
[2, 8, 4, 8, 3, 6, 5, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [89]:
# INDEX

# Syntax: list_name.index(value)


# Example 1:

a = [1, 5, 4, 8, 6, 3, 4, 8, 10]

print (a.index(6))
print (a.index(10))


# Example 2: To Find the Second Same Value

b = [1, 5, 4, 8, 6, 3, 4, 8, 10, 8]

print (b.index(4,4))
print (b.index(8,8))

4
8
6
9

In [91]:
# REMOVE

# Syntax: list_name.remove(value)

a = [1, 5, 4, 8, 6, 3, 4, 8, 10]

a.remove(6)
print (a)

a.remove(10)
print (a)

[1, 5, 4, 8, 3, 4, 8, 10]
[1, 5, 4, 8, 3, 4, 8]

In [93]:
# DELETE

# Syntax: del list_name[index] or del list_name


# Example 1: Delete a value 

a = [1, 5, 4, 8, 6, 3, 4, 8, 10]

del a[7]
print(a)


# Example 2: Delete an entire list

b = [1, 5, 4, 8, 6, 3, 4, 8, 10, 8]

del b
print(b)

[1, 5, 4, 8, 6, 3, 4, 10]

NameError: name 'b' is not defined

In [101]:
# SORT

# Syntax: list_name.sort()


# Example 1:

a = [1,2,3,4,5,6,7,8,9,10,5,6,3,8,4,8,2]

a.sort()
print(a)

# Example 2: Sort can't be stored in a variable

b = [1,2,3,4,5,6,7,8,9,10,5,6,3,8,4,8,2]

c = b.sort()
print(c)

[1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 8, 8, 9, 10]
None

In [103]:
# REVERSE

# Syntax: list_name.reverse()


a = [1, 5, 4, 8, 6, 3, 4, 8, 10]

a.reverse()
print(a)

[10, 8, 4, 3, 6, 8, 4, 5, 1]

In [112]:
# COUNT

# Syntax: list_name.count(value)

a = [1, 5, 4, 8, 6, 3, 4, 8, 10]

a.count(4)

[1, 5, 4, 8, 6, 3, 4, 8, 10]
2

In [122]:
# SORTED

# Syntax: sorted(list_name)


# Example 1:

a = [1,2,3,4,5,6,7,8,9,10,5,6,3,8,4,8,2]

print(sorted(a))


# Example 2: A Sorted list can be stored in a variable

b = [1, 5, 4, 8, 6, 3, 4, 8, 10]

c = sorted(b)
print(c)

[1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 8, 8, 9, 10]
[1, 3, 4, 4, 5, 6, 8, 8, 10]

In [134]:
# COPY

# Syntax: list_name.copy()


a = [1, 5, 4, 8, 6, 3, 4, 8, 10]
b = a.copy()

print(b)

[1, 5, 4, 8, 6, 3, 4, 8, 10]

# 2. TUPLE

A tuple in Python is an ordered, immutable collection of items.

Ordered ‚Üí You can access elements by index.

Immutable ‚Üí Once created, cannot be changed (no add, no remove, no modify).

üëâ Think of it like a read-only list.

In [139]:
# To see the Tuple Functions

print (dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [149]:
# Create a Tuple

Fruits = ('apple', 'banana', 'cherry', 'kiwi', 'Orange')

DryFruits = 'Almond', 'Dates'

# Access a Tuple

print(Fruits)
print(DryFruits)

('apple', 'banana', 'cherry', 'kiwi', 'Orange')
('Almond', 'Dates')

In [159]:
# INDEX

# Syntax: list_name.index(value)


# Example 1:

Fruits = ('apple', 'banana', 'cherry', 'kiwi', 'Orange')

print(Fruits.index('kiwi'))



# Example 2:

b = 1, 5, 4, 8, 6, 3, 4, 8, 10, 8

print (b.index(4,4))
print (b.index(8,8))

3
6
9

In [161]:
# COUNT

# Syntax: list_name.index(value)


# Example 1:

Fruits = ('apple', 'banana', 'cherry', 'kiwi', 'Orange')

print(Fruits.count('kiwi'))



# Example 2:

b = 1, 5, 4, 8, 6, 3, 4, 8, 10, 8

print (b.count(4))

1
2

In [167]:
# SLICING

# start: index to begin (inclusive)
# end: index to stop (exclusive)
# Step: how many positions to move (optional)


# Syntax 1: [Start index : end index]



a = (1, 5, 4, 8, 6, 3, 4, 8, 10)

print (a[1:8])
print (a[-9:-2])
print (a[:5])
print (a[3:])
print (a[:-3])
print (a[-5:])



# Syntax 2: [Start : end : step value]

b = 1,2,3,4,5,6,7,8,9,10,5,6,3,8,4,8,2

print (b[1:16:2])
print (b[1:16:3])
print (b[::-1])              # :: --- Reverse

(5, 4, 8, 6, 3, 4, 8)
(1, 5, 4, 8, 6, 3, 4)
(1, 5, 4, 8, 6)
(8, 6, 3, 4, 8, 10)
(1, 5, 4, 8, 6, 3)
(6, 3, 4, 8, 10)
(2, 4, 6, 8, 10, 6, 8, 8)
(2, 5, 8, 5, 8)
(2, 8, 4, 8, 3, 6, 5, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

 INFO:

 "getsizeof()" is a function from the 'sys' module that returns the memory size in bytes of an object in Python.

In [178]:
# GETSIZEOF

#Syntax: 'import sys' & getsizeof(list_name)

import sys

a = (1, 5, 4, 8, 6, 3, 4, 8, 10)

print(sys.getsizeof(a))

112

 INFO:

# Delete a value in a Tuple

 Tuples are immutable, meaning once created, you cannot change, add, or remove elements inside them.

 t = (1, 2, 3)
 t[1] = 5         # ‚ùå TypeError
 del t[1]         # ‚ùå TypeError


# What You Can Do is You Can Delete the Entire Tuple:

 t = (10, 20, 30)
 del t  # Deletes the whole tuple from memory

In [ ]:
# DELETE

# Syntax: del list_name


# Example 1: Can Delete an entire list

a = 1, 5, 4, 8, 6, 3, 4, 8, 10, 8

del a
print(a)

# 3. STRING

A String in Python is a sequence of characters enclosed inside single quotes ' ', double quotes " ", or triple quotes ''' ''' / """ """.

üëâ It is immutable ‚Äî once created, you can't change it (you can only create a new one).

In [15]:
# To see the String Functions

print (dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [23]:
# Create a String

a = 'O'   

b = "Almond"  

c = ''' Multi line String '''       

# Access a String

print(a)
print(b)
print(c)

O
Almond
 Multi line String

In [19]:
# COMMENT

# Syntax: ''' Multi Line String '''

a = ''' My name is Hariharan B '''

print(a)
print(type(a))

 My name is Hariharan B
<class 'str'>

In [37]:
# F - String

# Syntax: f'Srting with variables'


# Example 1:

a = 'Hariharan.B'
b = 28

Info = f'Hi...I am {a} & my age is {b}.'

print(Info)


# Example 2:

a = 30
b = 50

c = f'The sum of {a} & {b} is {a+b}.'

print(c)

Hi...I am Hariharan.B & my age is 28.
The sum of 30 & 50 is 80.

In [43]:
# CONCAT

# Syntax: String 1 + String 2


a = 'Hariharan '
b = 'Balasubramanian'

a + b

'Hariharan Balasubramanian'

In [51]:
# JOIN

# Syntax: "".join(variable)


# Example 1: Join Without Space

a = 'My', 'name', 'is', 'Hariharan.B'

b = "".join(a)
print(b)


# Example 2: Join With Space

c = 'My', 'name', 'is', 'Hariharan.B'

d = " ".join(c)
print(d)



# Example 3: Join with any Special character

e = 'My', 'name', 'is', 'Hariharan.B'

f = "*".join(e)
print(f)

MynameisHariharan.B
My name is Hariharan.B
My*name*is*Hariharan.B

In [58]:
# LENGTH

# Syntax: length(variable)


a = 'My name is Hariharan.B'

b = 'MynameisHariharan.B'


print(len(a))
print(len(b))

22
19

In [60]:
# UPPER & LOWER

# Syntax: .upper() & .lower()


# Example 1: With Upper

a = 'Welcome'

print(a.upper())


# Example 2: With Lower

b = 'Hariharan'

print(b.lower())

WELCOME
hariharan

In [72]:
# REPLACE

# Syntax: .replace(old, new) & .replace(old, new, count/occurrence)


# Without occurrence

# Example 1: 

a = 'Welcome'

print(a.replace('l', 'L'))


# Example 2: 

b = 'My name is Hariharan'

print(b.replace('Hariharan', 'Harish'))




# With occurrence

# Example 1: 

Text = "spam spam spam spam"

print(Text.replace("spam", "eggs", 2))

WeLcome
My name is Harish
eggs eggs spam spam

In [92]:
# INDEX

# Syntax: .index(value) & .index(value, start, end)


# Example 1: Basic Usage

a = "Python programming"

print(a.index("a"))



# Example 2: With Full Words/Substrings

Text = "Data science is fun"

print(Text.index("science"))



# Example 3: With Start 

b = "banana"

print(b.index("a", 2))



# Example 4: With Start & End

End = "abababab"

print(End.index("b", 4, 7))

12
5
3
5

In [94]:
# FIND

# Syntax: .find(value) & .find(value, start, end)


# Example 1: Basic Usage

a = "Python programming"

print(a.find("a"))



# Example 2: With Full Words/Substrings

Text = "Data science is fun"

print(Text.find("science"))



# Example 3: With Start 

b = "banana"

print(b.find("a", 2))



# Example 4: With Start & End

End = "abababab"

print(End.find("b", 4, 7))

12
5
3
5

In [142]:
# SPLIT

# Syntax: .split()


# Example 1: Basic Split (By Whitespace)

a = "Python is awesome"

b = a.split()
print(b)



# Example 2: Split by Specific Character

c = "apple,banana,orange"

d = c.split(",")
print(d) 



# Example 3: Limit the Number of Splits

e = "apple,banana,orange,grape"

f = e.split(",", 2)
print(f)

['Python', 'is', 'awesome']
['apple', 'banana', 'orange']
['apple', 'banana', 'orange,grape']

In [110]:
# STRIP

# Syntax: .strip(values) & .rstrip(chars) & .lstrip(chars)

# No argument   ‚Üí removes whitespace by default
# With argument ‚Üí removes all listed characters (not substrings)


# Example 1: Remove spaces

a = "   hello world   "

print(a.strip())



# Example 2: Strip specific characters

b = "---python---"

print(b.strip("-")) 



#  Example 3: Strip multiple characters

c = "#@!hello!@#"

print(c.strip("#@!"))



# Example 4: Left Strip

d = "   hello world   "

print(len(d))
print(d.lstrip())
print(len(d.lstrip()))



#  Example 5: Right Strip

e = "   hello world   "

print(len(e))
print(e.rstrip())
print(len(e.rstrip()))

hello world
python
hello
17
hello world
14
17
   hello world
14

In [122]:
# SLICING

# Syntax: string[start : end ] & string[start : end : step]

# start: index to begin (inclusive)
# end: index to stop (exclusive)
# Step: how many positions to move (optional)


# Example 1: Basic Slicing

a = "Python programming"

print(a[0:5])



# Example 2: With Start or End

b = "Python"
print(b[:4])   
print(b[2:])



# Example 3: Negative Indexing


c = "Python"
print(c[-3:])  
print(c[:-2])



# Example 4: Using Step

d = "abcdef"
print(d[1:5:2])   
print(d[::-1])        # Reverse

Pytho
Pyth
thon
hon
Pyth
bd
fedcba

In [134]:
# STARTSWITH & ENDSWITH

# Syntax: .startswith(prefix, start, end) & .endswith(suffix, start, end)

# prefix & prefix: the string to check
# start, end (optional): check only a slice of the string


# Example 1: 

a = "hello world"
print(a.startswith("hello"))  
print(a.startswith("world"))  



# Example 2: 

b = "report.csv"
print(b.endswith(".csv"))      
print(b.endswith(".txt"))



# Example 3:


c = "python.txt"
print(c.startswith("python", 0, 7))
print(c.endswith(".txt",-4))

True
False
True
False
True
True

# 4. SET

A set in Python is an unordered collection of unique elements.

No duplicates allowed

Elements can be of different types (but must be immutable)

Sets are mutable (you can add/remove items)

üëâ Think of it like a real-world "set of cards" ‚Äî no card appears twice!

In [2]:
# To see the Set Functions

print (dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [1]:
# Create a Set

Fruits = {'apple', 'banana', 'cherry', 'kiwi', 'Orange'}    # Using curly braces

DryFruits = set (['Almond', 'Dates'])                       # Using set() function

a = {1, 2, 3, 3, 4, 4, 5}                                   # Duplicate will be removed in the print

# Access a Set

print(Fruits)
print(DryFruits)
print(a)

{'Orange', 'cherry', 'kiwi', 'apple', 'banana'}
{'Almond', 'Dates'}
{1, 2, 3, 4, 5}

In [3]:
# ADD

# Syntax: .add(value)

a = {1, 4, 2, 3, 6}

a.add(5)
print(a)

{1, 2, 3, 4, 5, 6}

In [7]:
# DISCARD

# Syntax: .discard(value)


# Example 1: Value in the set

a = {1, 4, 2, 3, 6}

a.discard(3)
print(a)


# Example 2: Value not in the set

b = {1, 4, 2, 3, 6}

b.discard(5)           # Don't throw error, if value in the set it will dicard.
print(b)

{1, 2, 4, 6}
{1, 2, 3, 4, 6}

In [13]:
# REMOVE

# Syntax: .remove(value)


# Example 1: Value in the set

a = {1, 4, 2, 3, 6}

a.remove(3)
print(a)



# Example 2: Value not in the set

b = {1, 4, 2, 3, 6}

b.remove(5)           # It will throw error, if value not in the set.
print(b)

{1, 2, 4, 6}

KeyError: 5

 INFO:


 Method	      If Element Exists	          If Element Does Not Exist
--------     -------------------         ---------------------------

remove()	     Removes it	                ‚ùå Raises KeyError
discard()	     Removes it	                ‚úÖ Does nothing (no error)

In [17]:
# POP

# Syntax: .pop()

# .pop() removes and returns a random element from a set.
# Yes ‚Äî random because sets are unordered.


a = {1, 4, 2, 3, 6}
print(a)

a.pop()                # Removes the first value
print(a)

{1, 2, 3, 4, 6}
{2, 3, 4, 6}

In [25]:
# UNION

# Syntax : .union(set2, set3, ...) &  set1 | set2 | set3  # Using the pipe `|` operator

# The union() method returns a new set that contains all unique elements from both (or more) sets.
# Duplicates are automatically removed
# Original sets stay unchanged


# Example 1: Basic union

a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))



# Example 2: Union of More Than Two Sets

c = {1, 2}
d = {3, 4}
e = {4, 5}

print(c.union(d, e))



# Example 3: Using '|' Operator

a = {1, 2}
b = {2, 3}
c = {3, 4}

print(a | b | c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [33]:
# INTERSECT

#Syntax: .intersection(set2, set3, ...) and set1 & set2 & set3  # Using the `&` operator

# The intersection() method returns a new set containing only the elements that are common to both (or more) sets.


# Example 1: Basic intersection

a = {1, 2, 3}
b = {2, 3, 4}

print(a.intersection(b))



# Example 2: Intersection of Multiple Sets

x = {1, 2, 3, 4}
y = {2, 3, 5}
z = {2, 3, 6}

print(x.intersection(y, z))



# Example 3: Using '&' Operator

c = {1, 2, 3}
d = {2, 3, 4}

print(a & b)

{2, 3}
{2, 3}
{2, 3}

In [35]:
# DIFFERENCE

# Syntax: .difference(set2, set3, ...) & set1 - set2 - set3 # using the '-' operator

# The difference() method returns a new set containing elements that are in the first set but NOT in the others.
# Think of it as: üëâ "What do I have that you don't?"


# Example 1: Basic difference

a = {1, 2, 3}
b = {2, 3, 4}

print(a.difference(b))



# Example 2: difference of Multiple Sets

x = {1, 2, 3, 4}
y = {2, 3, 5}
z = {2, 3, 6}

print(x.difference(y, z))



# Example 3: Using '-' Operator

c = {1, 2, 3}
d = {2, 3, 4}

print(a - b)

{1}
{1, 4}
{1}

In [73]:
# SYMMETRIC DIFFERENCE

# Syntax: .symmetric_difference(set) & set1 ^ set2 # using the '^' operator

# The symmetric_difference() method returns a new set containing elements that are in either of the sets, but NOT in both.
# üëâ In simple words: Everything that's different between two sets.
# Common elements are excluded.


# Example 1: Basic Symmetric

a = {1, 2, 3}
b = {3, 4, 5}

print(a.symmetric_difference(b))
print(a)
print(b)


# Example 2: Using the '^' operator

x = {10, 20, 30}
y = {20, 40, 50}

print(x^y)

{1, 2, 4, 5}
{1, 2, 3}
{3, 4, 5}
{40, 10, 50, 30}

 INFO:


 Operation	                        Method/Operator	                           Meaning
-----------                        -----------------                          ---------

Difference (A - B)	            a.difference(b) or a - b	           Only elements in A not in B
Symmetric Difference(A ^ B)	    a.symmetric_difference(b) or a ^ b	   Elements in A or B, but not both.

In [75]:
# SYMMETRIC DIFFERENCE UPDATE

# Syntax: .symmetric_difference_update(set2)

# Instead of returning a new set, symmetric_difference_update() modifies the original set by keeping only elements that are in either set but not both.
# It's like doing symmetric_difference() and then assigning the result back to the original set.


# Example 1: 

a = {1, 2, 3}
b = {3, 4, 5}

a.symmetric_difference_update(b)
print(a)
print(b)

{1, 2, 4, 5}
{3, 4, 5}

In [77]:
# CLEAR

# Syntax: .clear()

# The clear() method removes all elements from a set, making it empty.
# It modifies the original set ‚Äî after clear(), the set becomes {} (an empty set).


a = {1, 2, 3}
a.clear()

print(a)

set()

In [81]:
# COPY

# Syntax: .copy()

# copy() in Python sets ‚Äî super useful when you want to duplicate a set without changing the original! 
# .clear() might be used, like resetting a "visited pages" set in a web crawler?


# Example 1: With Copy

a = {"red", "green", "blue"}

b = a.copy()
a.add("yellow")
print(a)
print(b)



# Example 2: Without copy

a = {"red", "green", "blue"}

b = a
a.add("yellow")
print(a)
print(b)

{'red', 'green', 'blue', 'yellow'}
{'red', 'green', 'blue'}
{'red', 'green', 'blue', 'yellow'}
{'red', 'green', 'blue', 'yellow'}

# 5. DICTIONARY

A dictionary is a collection of key-value pairs.

Each key is unique.

Keys map to their values.

You can retrieve, update, add, and delete values using the key.

üëâ Think of it like a real-world dictionary: You look up a word (key) to find its meaning (value).

 Useful Dictionary Methods:

 Method	               What it Does
--------              --------------

.keys()	             Returns all keys
.values()	         Returns all values
.items()	         Returns key-value pairs as tuples
.get(key)	         Returns value for key (safe access)
.pop(key)	         Removes item by key and returns its value
.update(dict2)	     Updates dictionary with another dictionary

In [84]:
# To see the Dictionary Functions

print (dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [92]:
# Create a Dictionary

Info = {"name": "Alice", "age": 25, "city": "New York"}     

Mobile = {"Brand":["Iphone", "Samsung", "Oppo"], 
          "Model":["13 PRO", "S21 Ultra", "F21 PRO"], 
          "Year":["2023", "2024", "2022"]}

                              
# Access a Dictionary

print(Info)
print(Mobile)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'Brand': ['Iphone', 'Samsung', 'Oppo'], 'Model': ['13 PRO', 'S21 Ultra', 'F21 PRO'], 'Year': ['2023', '2024', '2022']}

In [96]:
# CLEAR

# Syntax: .clear()

# The clear() method removes all key-value pairs from a dictionary.
# üëâ After using it, the dictionary becomes empty!


Info = {"name": "Alice", "age": 25, "city": "New York"}

Info.clear()
print(Info)

{}

In [100]:
# COPY

# Syntax: .copy()

# The copy() method returns a shallow copy of the dictionary.
# It creates a new dictionary with the same key-value pairs.
# But it's not the same object in memory.


a = {"name": "Alice", "age": 25, "city": "New York"}

b = a.copy()
print(a)
print(b)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [110]:
# FROMKEYS

# Syntax: dict.fromkeys(keys, value)
# keys:   A list, tuple, or any iterable containing keys.
# value:  (Optional) A default value for all keys. Default is None if not given.


# The fromkeys() method creates a new dictionary using:
# A sequence of keys
# And one default value for all keys
# üëâ It‚Äôs a class method used directly on the dict class, not on an instance.



# Example 1: Using fromkeys with Default Value

keys = ["name", "age", "city"]
default_value = None

new_dict = dict.fromkeys(keys, default_value)
print(new_dict)



# Example 2: Custom Default Value

a = ["apple", "banana", "cherry"]
b = dict.fromkeys(a, 'Fruit')

print(b)



# Example 3:

c = {"Name", "Password"}
d = {"Hari", "B"}

e = dict.fromkeys(c,d)
print(e)

{'name': None, 'age': None, 'city': None}
{'apple': 'Fruit', 'banana': 'Fruit', 'cherry': 'Fruit'}
{'Password': {'Hari', 'B'}, 'Name': {'Hari', 'B'}}

In [114]:
# GET

# Syntax: .get(key)

# The get() method is used to access a value from a dictionary for a given key.
# It avoids errors if the key is not found.
# Instead of raising a KeyError, it returns a default value (which is None by default) if the key doesn‚Äôt exist.


Info = {"name": "Alice", "age": 25, "city": "New York"} 

Info.get("name")

'Alice'

In [116]:
# ITEMS

# Syntax: .items()

# The items() method returns a view object that displays a list of (key, value) pairs in the dictionary.
# üëâ It's a great way to loop through both keys and values.

Info = {"name": "Alice", "age": 25, "city": "New York"} 

Info.items()

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [118]:
# KEYS

# Syntax: .keys()

# The keys() method returns a view object that displays all the keys in the dictionary.
# Useful when you need just the keys of a dictionary.

Info = {"name": "Alice", "age": 25, "city": "New York"} 

Info.keys()

dict_keys(['name', 'age', 'city'])

In [120]:
# Values

# Syntax: .values()

# The values() method returns a view object that displays all the values in the dictionary.
# Useful when you need just the values of a dictionary.

Info = {"name": "Alice", "age": 25, "city": "New York"} 

Info.values()

dict_values(['Alice', 25, 'New York'])

 INFO:

 Method	        What It Does	                          Returns
--------       --------------                            ---------

items()	      Returns (key, value) pairs	             dict_items
keys()	      Returns dictionary keys	                 dict_keys
values()	  Returns dictionary values	                 dict_values

In [136]:
# POP

# Syntax: .pop(key)

# The pop() method removes a key from the dictionary and returns its value.
# If the key is not found, it raises a KeyError, unless you provide a default value.
# üëâ It‚Äôs a way to delete and retrieve an item at the same time!

Info = {"name": "Alice", "age": 25, "city": "New York"} 

Info.pop("age")
print(Info)

{'name': 'Alice', 'city': 'New York'}

In [138]:
# POP ITEM

# Syntax: .popitem()

# The popitem() method removes and returns the last inserted (key, value) pair from the dictionary.
# If the dictionary is empty, it raises a KeyError.
# No arguments are needed (you cannot specify a key).
# üëâ It‚Äôs very useful for treating dictionaries like stacks (LIFO ‚Äî Last In, First Out).


Info = {"name": "Alice", "age": 25, "city": "New York"} 

Info.popitem()
print(Info)

{'name': 'Alice', 'age': 25}

In [144]:
# SET DEFAULT

# Syntax: .setdefault(key, value)

# The setdefault() method:
# Checks if a key exists in the dictionary.
# If the key exists ‚ûù returns its value.
# If the key doesn‚Äôt exist ‚ûù adds the key with a default value, and returns that value.


# Example 1: Key Already Exists:

student = {"name": "Alice", "age": 25}

student.setdefault("name", "Unknown")
print(student)  


# Example 2: Key Doesn‚Äôt Exist

student1 = {"name": "Alice"}

student1.setdefault("age", 20)
print(student1)

{'name': 'Alice', 'age': 25}
{'name': 'Alice', 'age': 20}

In [160]:
# UPDATE

# Syntax: .update(dict) & .update(key=value)

# The update() method adds key-value pairs from one dictionary into another.
# If a key already exists, its value gets overwritten.
# If the key is new, it gets added


# Example 1: Update a new key & value

student = {"name": "Alice", "age": 25}

student.update(City = "NY")
print(student)  



# Example 2: Update a existing key & value

student1 = {"name": "Alice", "age": 25}

student1.update(age = 28)
print(student1)  



# Example 3: Merging Two Dictionaries

a = {"name": "Alice", "age": 25}
b = {"dept": "MECH", "city": "Chennai"}

a.update(b)
print(a)

{'name': 'Alice', 'age': 25, 'City': 'NY'}
{'name': 'Alice', 'age': 28}
{'name': 'Alice', 'age': 25, 'dept': 'MECH', 'city': 'Chennai'}