# PATTERN PRINTING

Usually done using nested loops:

Outer loop → rows

Inner loop → columns (stars, numbers, spaces)

In [3]:
# Example 1: Print a star (*) with square pattern

for i in range(5):

    print('*  ' * 5)

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [7]:
# Example 2: Print a simple star (*) increasing from the left side

for i in range(5):
    
    for j in range(i+1):
        print('*', end=' ')
        
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
# Example 3: Print a Number Pattern

n = 5

for i in range(1, n+1):
    
    for j in range(1, i+1):
        print(j, end=' ')
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
# Example 4: Print a simple star (*) decreasing from the right side

for i in range(5):
    
    for j in range(5-i):
        print('*', end=' ')
        
    print()

* * * * *
* * * *
* * *
* *
*

In [19]:
# Example 5: Pyramid Pattern

n = 5

for i in range(n):
    
    print(' ' * (n-i-1) + '* ' * (i+1))

    *
   * *
  * * *
 * * * *
* * * * *